// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card.text-left {
  margin-bottom: 30px;
}
.card-img-top{
  object-fit: contain;
  height: 150px;
}

.button-delete {
  position: absolute;
  right: 0px;
  width: 40px;
  opacity: 0.3;

  &:hover{
    opacity: 1;
  }
}

.footer-color {
  background-color: #e9ecef;
}
.product-item{
  &:hover{
    cursor: pointer;
  }
}
